:root {
    --primarycolor: #26456c;
    --backgroundcolor: #faa75a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundcolor);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--primarycolor);
    font-weight: normal;
}

h1 {
    font-size: 6rem;
    line-height: 104px;
}

h2 {
    font-size: 3rem;
    line-height: 56px;
}

h3 {
    font-size: 1.5rem;
    line-height: 32px;
}

h4 {
    font-size: 1.25rem;
    line-height: 24px;
}

a,
a:visited,
a:focus {
    text-decoration: none;
    color: var(--primarycolor);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 80px;
}

nav .menu {
    display: flex;
    width: 40%;
    justify-content: space-between;
    font-size: 1.5rem;
    line-height: 32px;
}

.content {
    max-width: 1200px;
    width: 90vw;
    margin-inline: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.home-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
    display: block;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 5px solid var(--primarycolor);
    border-radius: 20px 20px 20px 20px;
}

.title{
    position: absolute;
    text-align: center;
    color: white;
    font-size: 8rem;
}

.active {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}