:root {
    --primarycolor: #26456c;
    --secondarycolor: #e86219;
    --backgroundcolor: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundcolor);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--primarycolor);
    font-weight: normal;
}

h1 {
    font-size: 5rem;
    line-height: 90px;
}

h2 {
    font-size: 3rem;
    line-height: 56px;
}

h3 {
    font-size: 1.5rem;
    line-height: 32px;
}

h4 {
    font-size: 1.25rem;
    line-height: 24px;
}

h5 {
    font-size: 1rem;
    line-height: 20px;
}

a,
a:visited,
a:focus {
    text-decoration: none;
    color: var(--primarycolor);
}

.content {
    max-width: 1200px;
    width: 90vw;
    margin-inline: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    margin-top: 3rem;
    font-size: 1.25rem;
}

nav a {
    margin-left: 4rem;
}

nav a:hover {
    transform: scale(1.05);
}

.active {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    border-top: 3px solid var(--primarycolor);
    height: 70px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons img {
    height: 25px;
    margin-right: 2rem;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.home-content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.home-image {
    width: 100%;
    height: 465px;
    object-fit: cover;
    display: block;
    border: 5px solid var(--primarycolor);
    border-radius: 20px;
}

.home-title {
    width: 100%;
    position: absolute;
    text-align: center;
    color: var(--backgroundcolor);
    font-size: 8rem;
}

.pages-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pages-title {
    margin-top: 2rem;
    width: 100%;
}

.pages-title h1 {
    margin-bottom: 2rem;
}

.pages-title h3 {
    color: var(--secondarycolor);
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-text{
    margin-top: 2rem;
    text-align: justify;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0 10rem;
    margin-top: 1rem;
}

.works-grid> :nth-child(odd) {
    margin-top: 5rem;
}

.works-box {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: var(--primarycolor);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
}

.works-box:hover {
    transform: scale(1.02);
}

.works-box h2 {
    color: var(--backgroundcolor);
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    font-size: 2.5rem;
}

.works-item p {
    text-align: justify;
    text-align-last: left;
}